*
{   
    margin: 0;
    padding: 0;
    background-color: hsl(233, 47%, 7%);
}

.container
{
    background-color: hsl(244, 38%, 16%);
    display: flex; 
    flex-direction: column;
    margin: 0rem 2rem;
    height: 100%;
    margin-top: 5rem;
    justify-content: center;
    overflow: hidden;
    
}


@media only screen and (max-width: 767px) 
{   .imageHolder
    {
        background: hsl(277, 64%, 61%);
        max-width: 100%;
        max-height: 100%;
    }  
}     

.image
{
    opacity: 0.5;
    max-width: 100%;

}

.textContainer
{
    margin: 2rem; 
    margin-left: 2rem;  
    background: transparent;
    display: flex;
    flex-direction: column;
    white-space: normal;
}
.textContainer h1
{
    color: hsl(0, 0%, 100%);
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
    font-weight: 700px;
    padding: 1rem;
    text-align: center;
}

.textContainer h1 mark
{
    color: hsl(277, 64%, 61%);
    font-size: 1.7rem;
    font-weight: 700px;
    background: none;
    
}

.textContainer p
{
    color: hsla(0, 0%, 100%, 0.75);
    background: transparent;
    font-size: .85rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400px;
    padding: 0rem 1rem;
    text-align: center;
}

.textContainer span
{
    background: transparent;
    padding: 0rem 1rem;
    text-align: center;
}

.numbers
{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    display: block;
    margin-top: 1.6rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.text
{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: .75rem;
    font-weight: 400px;
    text-transform: uppercase;
    margin: 0rem 4rem;
    font-stretch: 5rem;
}

.attribution
{
    color: white;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: block;
}

.attribution a
{
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 768px)
{
    *
    {
        position:static;
    }

    .container
    {
        flex-direction: row-reverse;
        margin:auto;
        margin-top: 7rem;
        height: 22rem;
        width: 56rem;
        position: relative;
    }
    
    .imageHolder
    {
        position: relative;
        background: hsl(277, 64%, 61%);
    }
    .image
    {
        position: relative;
        width: 31rem;
        height: 100%;
    }

    .textContainer
    {
        display: block;
        position: relative;
        width: 25rem;
        margin-right: 7rem;
    }

    .textContainer h1
    {
        text-align: left;
    }

    .textContainer p
    {
        font-size: .8rem;
        text-align: left;
        text-align-last: left;
        padding-right: 4rem;
        word-spacing: .2rem;
    }

    .textContainer span
    {
        padding: 0rem;
    }

    .bottomcontainer
    {
        display: flex;
        margin-top: 2.5rem;
        flex-direction: row;
    }
    
    .numText
    {   
        display: block;
        width: 6.3rem;
    }
    .numbers
    {
        display: block;
        font-size: 1.2rem;
        font-weight: bolder;
    }

    .text
    {
        display: inline;
        font-size: 0.6rem;
        font-weight: 100;
        font-stretch: 5rem;
        margin: 0rem 0.1rem;
    }
    .attribution
    {
        margin-bottom: 6rem;
    }
}